<div id="line_<%= file_object.id %>" class="line">
  <%= get_check_box(file_object) %>
  <%= get_icon_image(file_object) %>

  <span id="name_object_<%= file_object.id %>">
    <% if file_object.is_file? %>
      <%= link_to(file_object.name, file_path(file_object.id), id: "link_#{file_object.id}") %>
    <% else %>
      <%= link_to(file_object.name, directory_path(file_object.id), id: "link_#{file_object.id}") %>
    <% end %>
  </span>

  <span id="rename_object_<%= file_object.id %>" class="rename_object">
    <%= text_field_tag("rename_#{file_object.id}", '', class: 'rename_field') %>
    <%= button_tag('変更', id: 'rename_karino_name', onclick: "rename_karino_name_click()") %>
  </span>

  <% if file_object.is_file? %>
    [<%= file_object.size %>Byte] [<%= file_object.created_at_h %>]
  <% end %>
</div>
