<div id="parent_directories_list" class='waku'></div>

<div id="menu" class='waku'>
  <%= button_tag 'うｐ', id: 'menu_upload_file_button' %>
  <%= button_tag 'ディレクトリ作成', id: 'menu_new_directory_button' %>
  <%= button_tag 'リネーム', id: 'menu_rename_file_object_button', disabled: true %>
  <%= button_tag 'カット', id: 'menu_cut_file_object_button', disabled: true %>
  <%= button_tag 'ペースト', id: 'menu_paste_file_object_button', disabled: true %>
  <%= button_tag '削除', id: 'menu_delete_file_object_button', disabled: true %>
  <%= button_tag 'ユーザ情報変更', id: 'menu_edit_user_data_button' %>

  <% if current_user.admin? %>
    <%= button_tag 'ユーザ新規作成', id: 'menu_new_user_data_button' %>
  <% end %>

  <%= image_tag('spinner.gif', {id: 'spinner'}) %>
</div>

<div id="proc_div" class="waku">
  <%= form_tag proc_path, {id: :proc_form, multipart: true } do %>
    <%= hidden_field_tag :proc_mode, '' %>
    <%= hidden_field_tag :current_directory_id_hash %>

    <div id="upload_file_form" %>
      <%= file_field_tag 'upload_files[]', {id: 'upload_files', multiple: true} %>
    </div>

    <div id="new_directory_form" %>
      <%= text_field_tag 'new_directory_name', '', {placeholder: '新規ディレクトリ名'} %>
    </div>

    <div id="rename_object_form" %>
      <%= text_field_tag 'rename_object_name' %>
      <%= hidden_field_tag 'rename_object_id_hash' %>
    </div>

    <%= hidden_field_tag 'checked_object_id_hashes' %>

    <%= button_tag('', {type:'button', id: 'proc_button'}) %>
  <% end %>
</div>

<div id="current_files_list" class='waku'></div>
