<div id="parent_directories_list" class='waku'>
  <%= render :partial => 'parent_directories_list', :locals => { parent_directories_list: @parent_directories_list } %>
</div>

<div id="menu" class='waku'>
  <%= button_tag '新規ディレクトリ', id: 'new_directory_menu_button',       onclick: 'new_directory_menu_button_click()' %>
  <%= button_tag 'リネーム',         id: 'rename_file_object_menu_button', onclick: 'rename_file_object_menu_button_click()', disabled: true %>
  <%= button_tag '削除',             id: 'delete_file_object_menu_button', onclick: 'delete_file_object_menu_button_click()', disabled: true %>
  <%= button_tag 'カット',           id: 'cut_file_object_menu_button',    onclick: 'cut_file_object_menu_button_click()',    disabled: true %>
  <%= button_tag 'ペースト',         id: 'paste_file_object_menu_button',  onclick: 'paste_file_object_menu_button_click()',  disabled: session[:file_object_checkeds].nil? %>
  <%= button_tag 'パスワード変更' %>
</div>

<div id="upload" class="waku">
  <%= form_tag upload_path, {id: :file_upload_form, multipart: true } do %>
    <%= file_field_tag 'upload_files[]', {required: true, multiple: true} %>
    <%= hidden_field_tag :current_directory_id,        @current_directory_id %>
    <%= hidden_field_tag :current_directory_id_digest, @current_directory_id_digest %>
    <%= submit_tag('うｐ') %>
  <% end %>
</div>

<div id="files" class='waku'>
  <%= '(´・ω・｀)何もないお' if @file_objects.size == 0 %>

  <div id="new_directory_form">
    <%= check_box_tag('', '', false, disabled: true) %>
    <%= image_tag('icon_folder_alt.png') %>
    <%= text_field_tag :name, '', onkeypress: 'new_directory_form_name_keypress()' %>
    <%= button_tag 'ディレクトリ作成', onclick: "create_new_directory_click()" %>
  </div>

  <%= render @file_objects %>
</div>
