<% if flash[:error] %>
  <div class="waku">
    <%= flash[:error] %>
  </div>
<% end %>

<div class="waku">
  <%= form_for @user do |f| %>
    <div>
      <div>
        <%= f.label :login_id, 'ログインID' %>
      </div>
      <div>
        <%= f.text_field :login_id %>
      </div>
    </div>

    <div>
      <div>
        <%= f.label :password, 'パスワード' %>
      </div>
      <div>
        <%= f.password_field :password %>
      </div>
    </div>

    <div>
      <div>
        <%= f.label :password_confirmation, 'パスワード確認' %>
      </div>
      <div>
        <%= f.password_field :password_confirmation %>
      </div>
    </div>

    <%= f.submit(@user.new_record? ? '作成' : '変更') %>
  <% end %>
</div>
