<% if flash[:error] %>
  <div class="waku">
    <%= flash[:error] %>
  </div>
<% end %>

<div class="waku">
  ログイン
</div>

<div class="waku">
  <%= form_tag login_try_path do %>
    <div>
      <%= label_tag :login_id, 'ログインID' %>
      <%= text_field_tag :login_id %>
    </div>

    <div>
      <%= label_tag :password, 'パスワード' %>
      <%= password_field_tag :password %>
    </div>

    <div>
      <%= submit_tag('ログイン') %>
    </div>
  <% end %>
</div>
